<!-- <footer>
    {% if site.github.is_project_page %}
        <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
    {% endif %}
    <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></small></p>
</footer> -->

            <footer>
                <ul>
                    <li><a href="mailto:jamesprimephd@gmail.com">email</a></li>
                    <span class="separator">||</span>
                    <li><a href="https://github.com/jamesprime">github.com/jamesprime</a></li>
                </ul>
            </footer>
