{% include head.html %}

    <div class="wrapper">
        <!-- <img src="/assets/images/header.jpg" alt="Header image of a spiky plant on an unfocused table" style="width:2000px;height:1200px;"> -->
        {% include header.html %}
        <div class="body">
            {% include content.html %}
            {% include footer.html %}
        </div>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

    {% if site.google_analytics %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', '{{ site.google_analytics }}', 'auto');
            ga('send', 'pageview');
        </script>
    {% endif %}

    <svg>
        <defs>
            <symbol id="icon-arrow-right" viewBox="0 0 43 32">
                <path class="path1" d="M0.356 17.956c0.178 0.178 0.533 0.356 0.711 0.356h33.778l-10.311 10.489c-0.178 0.178-0.356 0.533-0.356 0.711 0 0.356 0.178 0.533 0.356 0.711l1.6 1.6c0.178 0.178 0.533 0.356 0.711 0.356s0.533-0.178 0.711-0.356l14.756-14.933c0.178-0.356 0.356-0.711 0.356-0.889s-0.178-0.533-0.356-0.711l-14.756-14.933c0-0.178-0.356-0.356-0.533-0.356s-0.533 0.178-0.711 0.356l-1.6 1.6c-0.178 0.178-0.356 0.533-0.356 0.711s0.178 0.533 0.356 0.711l10.311 10.489h-33.778c-0.178 0-0.533 0.178-0.711 0.356-0.356 0.178-0.533 0.356-0.533 0.711v2.311c0 0.178 0.178 0.533 0.356 0.711z"></path>
            </symbol>
        </defs>
    </svg>

{% include foot.html %}

<!-- Structure in original:
header (everything within image space)
    .custom-header (seems to be same as header)
        .custom-header-media (ditto above)
            .custom-header-media:before (gradient)
                .wp-custom-header (encloses nothing, so it seems)
                    .wp-custom-header img (actual image)
            .site-branding (full-width but only encloses header text and padding-bottom extends to end of actual header)
                .wrap (encloses header text, width as far as main content would be going, plus padding on left and right but not top and bottom)
                    .site-branding-text (encloses header text only as far as it extends)
.site-content-contain (everything below header, including footer)
    .site-content (everything below header, EXCEPT footer)
        .content-area (seems to be same as .site-content)
            main (seems to be same as .site-content and .content-area)
                article (seems to be same as .site-content, .content-area, and main)
                    .panel-content (seems to be same as .site-content, .content-area, main, and article)
                        .wrap (encloses content header on left and article's potential maximum width on right)
                            header.entry-header (encloses full-width content header on left plus big margin-bottom)
                                h2.entry-title (encloses full-width content header on left without big margin-bottom)
                            .entry-content (encloses content potential maximum height and width)
                                h3 (CMALT plus large margin-bottom)
                                ul
                                    li
                                        a
                                    li
                                        a
footer.site-footer (full-width footer, with large margin-top)
    .wrap (where footer text goes, to potential maximum width, and including large all-round padding)
        .site-info (potential maximum width of footer text, with small padding-top and small margin-bottom)
            a (actual link text, only enclosing as much as is there)
-->

<!-- Structure from first principles:
header (everything within image space)
    .header-image (actual image)
        .header-gradient (gradient, full-width but 33% height, aligned at bottom of .header-image (and header by necessity too))
            (.wrap?)
                .header-text (encloses h1 and h2 only, to wrapper width)
                .content-link (down arrow, if desired)
.content <- equivalent to .site-content, .content-area, main, article, and .panel-content
    .wrap <- equivalent to .wrap, duh
        .post-header <- equivalent to header.entry-header
            .post-header h2 <- equivalent to h2.entry-title
        .post-content <- equivalent to .entry-content
            h3
            ul
                li
                    a
            etc
footer <- equivalent to footer.site-footer
    .wrap <- equivalent to .wrap, duh
        .footer-content <- equivalent to footer.site-info
            a <- equivalent to footer.site-info a
-->

<!-- DEPRECATED: Structure converted for static use:
header (everything within image space) <- make this a combination of header, .custom-header, and .custom-header-media, I think!
    .header-image:before (gradient) <- .custom-header-media:before
        .header-image img (actual image) <- .wp-custom-header img
    .header (full-width but only encloses header text and padding-bottom extends to end of actual header) <- .site-branding
        .wrap (encloses header text, width as far as main content would be going, plus padding on left and right but not top and bottom) <- .wrap
            .header-text (encloses header text only as far as it extends) <- .site-branding-text
-->
